@model QuizFactory.Mvc.Areas.Users.ViewModels.QuizUserViewModel

@{
    ViewBag.Title = "Details";
}

<h2 class="green text-shadow">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal gray">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
    </dl>
</div>

<div>
    <div class="col-md-offset-1 col-md-11 questions-button">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary box-shadow" })
    </div>
    <div class="col-md-offset-1 col-md-11 questions-button">
        @Html.ActionLink("Questions", "Index", "Question", new { quizId = @Model.Id }, new { @class = "btn btn-warning box-shadow" })
    </div>
    @Html.ActionLink("Back to My Quizzes", "Index")

</div>

