@*@model IEnumerable<QuizFactory.Mvc.Areas.Users.ViewModels.QuizUserViewModel>*@
@using MvcPaging

@model IPagedList<QuizFactory.Mvc.Areas.Users.ViewModels.QuizUserViewModel>

@{
    ViewBag.Title = "My Quizzes";
}

<h2 class="green text-shadow">My Quizzes</h2>

<table class="table box-shadow gray">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().IsPublic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NumberQuestions)
        </th>
        <th></th>
    </tr>
    <tbody id="content">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberQuestions)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Questions", "Index", "Question", new { quizId = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="pager gray">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
