@model IEnumerable<QuizFactory.Mvc.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Index";
    string quizTitle = (string)TempData["quizTitle"] ?? "";
}
<h2 class="green text-shadow">"@quizTitle"</h2>

<table class="table gray box-shadow">
    <tr>
         <th class="col-sm-10">
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th class="col-sm-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, quizId = item.QuizId }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, quizId = item.QuizId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@if (TempData["quizId"] != null)
{
    <p>
        @Html.ActionLink("Add question", "Add", new { quizId = TempData["quizId"] }, new { @class = "btn btn-primary pull-right box-shadow"})
    </p>
}
