@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger text-center">Error.</h1>
<h4 class="blue text-center">@Model.Exception.Message</h4>

<h5 class="blue text-center">@Model.Exception.InnerException</h5>

<h5 class="blue text-center">@Model.Exception.InnerException.Message</h5>

<h5 class="blue text-center">@Model.Exception.InnerException.Source</h5>

<h5 class="blue text-center">@Model.Exception.InnerException.Data</h5>

