@model IEnumerable<QuizFactory.Mvc.ViewModels.QuizMainInfoViewModel>

@using HelperExtentions

@{
    ViewBag.Title = "Quiz Factory";
}


<div class="row">
    <div class="col-sm-9">
        <div class="container header-boxes">
            @Html.Action("GetRandomQuizzes")
        </div>
        <h3 class="green">All @ViewBag.Category Quizzes</h3>
        <ul class="nav nav-tabs">
            <li class="active tab">
                @Ajax.RawActionLink("<h4 class='content-title blue'>Most Recent</h4>", "RecentContent", "Home", new { catId = ViewBag.CategoryId },
    new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "content",
           // LoadingElementId = "loading"
        },
                 new { id = "first-tab" })
            </li>
            <li class="tab">
                @Ajax.RawActionLink("<h4 class='content-title red'>Most Popular</h4>", "PopularContent", "Home", new { catId = ViewBag.CategoryId },
    new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "content",
           // LoadingElementId = "loading"
        },
        new { })
            </li>
            <li class="tab">
                @Ajax.RawActionLink("<h4 class='content-title yellow'>By Name</h4>", "ByNameContent", "Home", new { catId = ViewBag.CategoryId },
    new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "content",
           // LoadingElementId = "loading"
        },
        new { })
            </li>
            <li class="tab">
                @Ajax.RawActionLink("<h4 class='content-title green'>By Rating</h4>", "ByRatingContent", "Home", new { catId = ViewBag.CategoryId },
    new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "content",
           // LoadingElementId = "loading"
        },
        new { })
            </li>
        </ul>
        <div id="tabContent" class="tab-content box-shadow">
            @*<span id="loading" class="blue">Loading...</span>*@
            <div class="container" id="content"></div>  
             
        </div>
    </div>
    <aside class="col-sm-3">
        @Html.Action("Categories", "Home")
    </aside>
</div>


@section scripts{
    <script>
        $('.tab').click(function (e) {
            $('.active').removeClass('active')
            $(this).toggleClass("active")
        })

        $(document).ready(function () {
            var container = $('#content');
            if (container.html() === '' || container.html() === ' ') {
                $('#first-tab')[0].click();
            }
        })

    </script>
}